$theme-colors: (
  "primary": steelblue,
  "secondary": slateblue,
);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  margin: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.col {
  padding: 0;
}

.row {
  margin: 0;
}

.vh-100 {
  height: 100vh;
}

@media only screen and (max-width:1025px) {
  .search-group input {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
  }

  .search-group>.input-group-prepend {
    display: none;
  }
}

.observation {
  width: calc(100% / 3);
}

/* width */
*::-webkit-scrollbar {
  width: .25rem;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--dark);
  border-radius: 10px;
}

/* Handle */
.col::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.b-sidebar-body::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

@media print {
  @page {
    size: landscape;
  }
}

.scrolltainer {
  /* display: flex; */
  flex-grow: 1;
  overflow-x: auto;
}

.app-container,
.sheet {
  display: flex;
  margin: 1rem;
  margin-inline: auto;
  padding-block: .4in;
  padding-inline: .25in;
  border: 1px dashed steelblue;
  width: 11in;
  height: 8.5in;
}

.printable,
.printable-sheet {
  display: flex;
  height: 7.77in;
}

@media only screen and (max-width: 11in) {

  .scrolltainer {
    padding-inline: 1rem;
  }

  .app-container,
  .sheet {
    height: unset;
    aspect-ratio: calc(8.5/11);
    max-width: calc(100vw - 2rem);
  }

  @media (orientation: portrait) {

    .scrolltainer>div {
      margin-top: 2rem;
      position: relative;
    }

    .scrolltainer>div::before {
      position: absolute;
      display: block;
      top: -1.25rem;
      left: 0;
      text-align: center;
      width: 100%;
      content: "Switch to landscape for better preview";
    }
  }

  @media (orientation: landscape) {
    .app-container {
      height: calc(100vh - 5.5rem);
    }
  }

}