$theme-colors: (
  "primary": steelblue,
  "secondary": slateblue,
);

:root {
  --scale: 1;
}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  margin: 0;
}

body::backdrop {
  background-color: white;
}

.pre-wrap {
  white-space: pre-wrap;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.gap-3 {
  gap: .75rem;
}

.col {
  padding: 0;
}

.row {
  margin: 0;
}

.vh-100 {
  height: 100vh;
}

@media only screen and (max-width:1025px) {
  .search-group input {
    border-top-left-radius: .25rem !important;
    border-bottom-left-radius: .25rem !important;
  }

  .search-group>.input-group-prepend {
    display: none;
  }
}

.observation {
  width: calc(100% / 3);
}

/* width */
*::-webkit-scrollbar {
  width: .25rem;
  height: .25rem;
}

/* Track */
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray-dark);
  border-radius: 10px;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}

.b-sidebar-body::-webkit-scrollbar-thumb {
  background: var(--white);
  border-radius: 10px;
}

@media print {
  @page {
    size: landscape;
  }
}

.scrolltainer {
  /* display: flex; */
  flex-grow: 1;
  overflow-x: auto;
}

.card-body {
  font-size: 10pt;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.new-sheet {
  border-top: 1px dashed steelblue;
}

.sheet {
  display: flex;
  margin: 1rem;
  margin-inline: auto;
  padding-block: .4in;
  padding-inline: .25in;
  border: 1px dashed steelblue;
  width: 11in;
  height: 8.5in;
  position: relative;
}

.tool {
  line-height: 0;
  padding: .25rem;
}

.tool.active {
  // -webkit-box-shadow: 0px 0px 5px 5px rgba(105, 90, 205, 1);
  // -moz-box-shadow: 0px 0px 5px 5px rgba(105, 90, 205, 1);
  // box-shadow: 0px 0px 5px 5px rgba(105, 90, 205, 1);
  border-radius: 100%;
  background-color: rgba(179, 175, 207, 0.25);
}

#pencil-picker .verte__controller .slider {
  display: none;
}

#saved-color-picker .verte__controller .slider {
  display: none;
}


.fixed-bottom {
  z-index: 100;
}

.printable,
.printable-sheet {
  display: flex;
  height: 7.77in;
}

.btn-rotate {
  display: none;
}

@media only screen and (max-width: 11in) {

  .scrolltainer {
    // padding-inline: 1rem;
  }

  #sheets {
    width: calc(11.5in);
    max-width: none;
  }

  .sheet {
    aspect-ratio: calc(8.5/11);
  }

  .btn-rotate {
    display: inline-block;
  }

  @media (orientation: portrait) {

    .scrolltainer>div {
      margin-top: 2rem;
      position: relative;
    }

    .navbar::after {
      position: absolute;
      display: block;
      background-color: var(--secondary);
      color: white;
      top: 4.2rem;
      left: 0;
      text-align: center;
      width: 100%;
      content: "Switch to landscape for better preview";
    }
  }

  @media (orientation: landscape) {
    *:not(:fullscreen) .btn-rotate {
      display: none;
    }

    *:fullscreen .btn-rotate {
      display: inline-block !important;
    }

    @media (min-width: 600px) and (max-width: 1100px) {
      #sheets {
        transform: scale(var(--scale));
        transform-origin: top left;
      }
    }
  }
}