$theme-colors: (
  "primary": steelblue,
  "secondary": slateblue,
);

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/src/index.scss';

body {
  margin: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.gap-1 {
  gap: .25rem;
}

.gap-2 {
  gap: .5rem;
}

.col {
  padding: 0;
}

.row {
  margin: 0;
}

.vh-100 {
  height: 100vh;
}